@tailwind base;
@tailwind components;
@tailwind utilities;


.header__active {
    color: #1E2832;
    border-color: #1E2832;
}

.btn__hover:hover {
    color: #1E2832;
    background-color: transparent;
    transition: 0.3s;
    transform: scale(1.05);
}

.btn__hover {
    transform: scale(1);
    transition: 0.3s;
}

.btn__hover:active {
    opacity: 0.5;
}

.filter__active {
    color: #1E2832;
}

svg,
img {
    display: flex;
}


.gallery {
    width: 100%;
}

.gallery-container {
    align-items: center;
    display: flex;
    height: 500px;
    margin: 0 auto;
    max-width: 1240px;
    position: relative;
}

.gallery-item {
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
    box-shadow: 0 20px 60px 0 rgba(46, 33, 61, 0.08);
    background: #fff;
}

.gallery-item-1,
.gallery-item-2,
.gallery-item-3 {
    max-height: 299.07px;
    height: 100%;
    max-width: 646px;
    width: 100%;
    opacity: 0.8;
    z-index: 1;
}

.gallery-item-2 {
    left: 20%;
    transform: translateX(-50%);
}

.gallery-item-3 {
    transform: scale(1.2) !important;
    max-width: 864px;
    width: 100%;
    opacity: 1;
    left: 15%;
    transform: translateX(-50%);
    z-index: 2;
}

.gallery-item-1 {
    left: 80%;
    transform: translateX(-50%);
}

.gallery-controls {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 59px 0;
}

.gallery-controls button {
    background-color: #FFF;
    border-radius: 50%;
    cursor: pointer;
    padding: 17px 20px;
    box-shadow: 0 4px 14px 1px rgba(0, 0, 0, 0.16);
    transform: scale(1);
    transition: .2s ;
}
.gallery-controls button:hover{
    color: #fff;
    background: #000;
}
.gallery-controls button:active{
    opacity: 0.8;
    transform: scale(0.8);
    box-shadow: none;
    transition: .2s ;
}

.gallery-controls-button {
    outline: none;
}

.gallery-controls-previous {
    position: relative;
}

.gallery-controls-next {
    position: relative;
}

.img-animation:hover {
    transform: translateY(-7px);
  }
  
  .img-animation {
    transform: translateY(0px);
    transition: all 0.3s linear;
  }