@tailwind base;
@tailwind components;
@tailwind utilities;


.header__active {
    color: #1E2832 !important;
    border-bottom-color: #1E2832 !important;
}

.btn__hover:hover {
    color: #1E2832;
    background-color: transparent;
    transition: 0.3s;
    transform: scale(1.05);
}

.btn__hover {
    transform: scale(1);
    transition: 0.3s;
}

.btn__hover:active {
    opacity: 0.5;
}

.filter__active {
    color: #1E2832 !important;
}

svg,
img {
    display: flex;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* orzular orasidagi bo'sh joy */
    padding: 0 20px;
    /* sahifa kengligi bo'yicha margin */
    max-width: 100%;
    /* o'lchamni ekran kengligiga moslashtirish */
}

.gallery-item {
    width: 100%;
    /* yagona qatordan chiqish */
    max-width: 300px;
    /* eng yuqori o'lcham */
    margin-bottom: 20px;
    /* orzular orasidagi bo'sh joy */
}

@media (min-width: 640px) {
    .gallery-item {
        width: calc(50% - 20px);
        /* yagona qator uzunligi */
    }
}

@media (min-width: 768px) {
    .gallery-item {
        width: calc(33.33% - 20px);
        /* 3 qator */
    }
}

@media (min-width: 1024px) {
    .gallery-item {
        width: calc(25% - 20px);
        /* 4 qator */
    }
}


.img-animation:hover {
    transform: translateY(-7px);
}

.img-animation {
    transform: translateY(0px);
    transition: all 0.3s linear;
}




.swiper-slide {
    max-width: 600px;
    width: 100%;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    background-color: #fff;
}
